<div id="<?$_name?>" class="g-row">
  <div class="g-1">&nbsp;</div>
  <div class="g-7">

    <h2>Sign up Details</h2>

    <p>Players must have a username/password to sign up for games.  If you do not have a username/password
       and would like to play, please send a message to our <a href="mailto:<?$AdminEmail?>">administrator.</a>
    </p>

    <p>Each week, web-based signups will open on Friday around noon.
    </p>

    <p>The website will display three lists.  A "Skater Playing List", a "Skater Waiting List" and
       a "Goalie Playing List".  When sign ups open, players go to the site and add their name to
       the Playing Lists.  Club members will automatically go to the top of the Playing List, while
       Associates and Guests will be pushed down the Playing List as Club Members add their names.
       If the list gets larger than the 22 allowed skaters, Associates and Guests will be
       automatically "bumped" to the Waiting List.  If a Club Member later decides not to play that
       week, the first person on the Waiting List will be promoted to the Playing List.
    </p>

    <p>Club Members have priority on all Playing List slots until 5:00pm on Wednesday, the day
       before the game.  After that, it is "first to sign up, first to play" for all skaters
       regardless of club membership status.  If you are on the Playing list after 5:00pm on
       Wednesday, you cannot be bumped off.
    </p>

    <p>There will only be 22 Club Members and 22 player slots in each game, so all Club Members are
       guaranteed to play on Thursday if they sign up before Wednesday at 5:00pm.
    </p>

    <p>Club Members will have the ability to sign up one Guest Player per game, but Guests have
       the same sign up priority as Associates (first to sign up, first to play), and can be
       bumped by Club Members who sign up before Wednesday at 5:00pm.
    </p>

    <p><strong>By clicking "ok" to complete your signup, you are agreeing to <?$ShortName?>'s <a href="/waiver.html">injury liability waiver</a>.</strong>
    </p>
  </div>
</div>

