<div id="<?$_name?>" class="g-row">
  <div class="g-1">&nbsp;</div>
  <div class="g-7">

    <h2>Rules and Code of Conduct</h2>

    <p>Although our games are not refereed, all players are expected abide by the Rules and Policies of the
       Wisconsin Amateur Hockey Association (WAHA) and USA Hockey.
    </p>

    <h2>USA Hockey Registration:</h2>

    <p>All players must be registered with USA Hockey - no exceptions, no substitutes allowed.  All <?$ShortName?>
       participants must demonstrate awareness, respect, and support for the application and spirit of
       USA Hockey Rules.  <?$ShortName?> players are expected to be familiar with the standards of play
       and to conduct themselves in an appropriate manner.  Refer to <a target="_new" href="http://www.usahockey.com">USA Hockey</a>
       for further details.
    </p>

    <h2>Equipment:</h2>

    <p>Full hockey gear is recommended.  All participants are expected to wear a HECC approved hockey helmet
       with (at least) a HECC approved half shield or cage.  A full face shield or cage is recommended but
       not required.  All face masks and shields must be in original factory condition and cannot be modified
       in any way.  Helmets must be kept completely strapped.
    </p>

    <h2>Code of Conduct:</h2>

    <p>Players will demonstrate a high standard of sportsmanship and respect for their teammates and
       opponents.  Threatening language or slurs against race, ethnicity, sexuality or gender will not
       be tolerated under any circumstances.  Any player (guest or member) that harms, threatens to
       harm, or intimidates another player through the use or threat of physical violence will be
       ejected from the club.  Players under the influence of alcohol or drugs are not permitted on
       the ice.
    </p>
  </div>
</div>
