<div id="<?$_name?>" class="g-row">
  <div class="g-1">&nbsp;</div>
  <div class="g-7">

    <h2>Liability Waiver</h2>

    <p>In consideration of being allowed to participate in the <?$FullName?>, and related events
       and / or activities of the <?$FullName?>, (here forward referred to as <?$ShortName?>)
       You (the undersigned), do hereby acknowledge, appreciate, and agree that:
    </p>

    <ol>
    <li>The risk of injury from the activities involved in <?$ShortName?> is SIGNIFICANT and may include
        the potential for permanent paralysis and or death. While following <?$ShortName?> rules, equipment
        requirements, and personal discipline may reduce this risk, the risk of serious injury does always
        exist; and,
    </li>

    <li>I knowingly and freely assume all risks, both known and unknown that may arise as a result of
        my participation in the <?$ShortName?>, EVEN IF that risk does arise from my personal negligence
        or the negligence of others; and,
    </li>

    <li>I willingly agree to comply with the stated rules of the <?$ShortName?> as well as any customary
        terms and conditions for participation in the <?$ShortName?>. If, however, I observe any unusual
        significant hazard during my presence or participation, I will remove myself from participation
        and bring such concerns to the attention of another member of <?$ShortName?> immediately; and,
    </li>

    <li>I, for myself and on behalf of my heirs, assigns, personal representatives and next of kin,
        HEREBY RELEASE, INDEMNIFY, AND HOLD HARMLESS <?$ShortName?>, as well as all club members or
        other participants, sponsors, and, if applicable, owners and lessors of premises used to
        conduct the event ("Releases"), with respect to any INJURY, DISABILITY, DEATH, LOSS, or
        DAMAGE to any person, persons or property, WHETHER ARISING FROM THE NEGLIGENCE OF THE
        RELEASES OR OTHERWISE, to the fullest extent permitted by law.
    </li>

    <li>Arbitration: In further consideration of allowing me to participate in the aforementioned
        activities, I hereby agree to submit to binding arbitration any and all claims, which I
        believe I may have against the facility or the <?$ShortName?> arising from my activities at
        the facility. The arbitration shall be pursuant to the rules of the American Arbitration
        Association. The arbitrators shall apply the Federal Rules of Evidence to all proceedings.
        <br/><br/>
        Arbitration shall be commenced within one (1) year from the date on which any alleged claim
        first arose. Further, the arbitration shall be held in the town where the Arena is located,
        unless otherwise mutually agreed to by all the parties. The submission to the American
        Arbitration Association shall be unlimited and any court of competent jurisdiction may
        enforce the arbitration award.
    </li>
    </ol>

    <p>
        BY SIGNING UP TO PLAY, YOU ARE CONFIRMING THAT YOU HAVE READ <?$ShortName?>'S RELEASE OF LIABILITY AND
        ASSUMPTION OF RISK AGREEMENT, FULLY UNDERSTOOD ITS TERMS, AND UNDERSTAND THAT YOU HAVE GIVEN
        UP SUBSTANTIAL RIGHTS
    </p>

  </div>
</div>
