<div class="g-row">
    <div class="g-3">
        <h5>Sign up for this week's scrimmage below.</h5>
        <?$SignupForm?>
        <p class="disclaimer">
          By clicking OK, you are confirming that you have read <?$ShortName?>'s <br/>
          <?$DisclaimerLink?>
        </p>
    </div>
    <div class="g-7 signup">
        <h3>Current Scrimmage Signup</h3>
        <?$Content?>
        <hr />
        <div class="playing-list">
            <h4>Skater Playing List</h4>
            <?$PlayingList?>
        </div>
        <div class="goalie-list">
            <h4>Goalie List</h4>
            <?$GoalieList?>
        </div>
        <div class="s-waiting-list">
            <h4>Skater Waiting List</h4>
            <?$SWaitingList?>
        </div>
        <div class="g-waiting-list">
            <h4>Goalie Waiting List</h4>
            <?$GWaitingList?>
        </div>
    </div>
</div>
